:root {
    --blue: #0cc0df;
    --white: #fff;
}

html {
    line-height: 1.5;
    font-size: 18px;
}

body {
    background: var(--blue);
    color: var(--white);
}

hr {
    border: 1px solid var(--white);
}

.container {
    max-width: 600px;
    margin: 0 auto;
    display: grid;
}

.logo {
    margin: 0 auto;
}
/* 60ch */
@media (width <= 40em) {
    .container {
        max-width: 100dvw;
        margin-left: 8px;
        margin-right: 8px;
    }
    .logo img {
        width: 100%;
    }
}
