:root {
    --blue: #0cc0df;
    --white: #fff;
    --spacing: 8px;
}

html {
    line-height: 1.5;
    font-size: 18px;
}

body {
    background: var(--blue);
    color: var(--white);
}

hr {
    border: 1px solid var(--white);
}

.container {
    max-width: clamp(600px, 600px, 100dvw);
    margin: 0 auto;
    display: grid;
}

.container > .content {
    margin-left: var(--spacing);
    margin-right: var(--spacing);
}

.logo {
    margin: 0 auto;
    max-width: 400px;
}

.logo img {
    max-width: 100%;
}
