:root {
    --blue: #0cc0df;
    --white: #fff;
}

html,
body {
    margin: 0;
}

html {
    line-height: 1.5;
}

body {
    background: var(--blue);
    color: var(--white);
    font-size: 1.4rem;
}

hr {
    border: 1px solid var(--white);
}

.container {
    max-width: 600px;
    margin: 0 auto;
    display: grid;
}

.logo {
    margin: 0 auto;
}
